In [1]:
import pandas as pd

In [2]:
xls_2016 = pd.ExcelFile("cvhabitatges_2016.xls")

In [3]:
anual_values = pd.read_excel(xls_2016, 't01')

In [4]:
anual_values.columns

Index(['Compravendes d'habitatge registrades. Any 2016', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'],
      dtype='object')

In [5]:
anual_values.drop(columns = ['Compravendes d\'habitatge registrades. Any 2016',
       'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20'], inplace = True)

In [6]:
anual_values.head()

,Unnamed: 1,Unnamed: 3,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Preu total (milers d'euros),NaN,NaN
2,Dte.,Barris,Total,Habitatge\n nou,Habitatge\n usat
3,NaN,NaN,NaN,NaN,NaN
4,BARCELONA,NaN,290.917,351.388,283.837

In [7]:
anual_values.rename(columns = {'Unnamed: 15' : 'New_flats', 'Unnamed: 16' :'Second_hand_flats', 'Unnamed: 1' : 'District', 'Unnamed: 3' : 'Neighbourhood', 'Unnamed: 14' : 'Total_price'}, inplace = True)

In [8]:
anual_values.head()

,District,Neighbourhood,Total_price,New_flats,Second_hand_flats
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Preu total (milers d'euros),NaN,NaN
2,Dte.,Barris,Total,Habitatge\n nou,Habitatge\n usat
3,NaN,NaN,NaN,NaN,NaN
4,BARCELONA,NaN,290.917,351.388,283.837

In [9]:
anual_values.drop([0, 1, 2, 3, 4, 5], inplace = True)

In [10]:
anual_values.head()

,District,Neighbourhood,Total_price,New_flats,Second_hand_flats
6,1,1. el Raval,180.969,0,180.666
7,1,2. el Barri Gòtic,422.841,409.177,429.953
8,1,3. la Barceloneta,212.16,409.496,186.42
9,1,"4. Sant Pere, Santa Caterina i la Ribera",293.143,473.735,283.979
10,2,5. el Fort Pienc,356.123,611.349,326.772

In [11]:
anual_values = anual_values.reset_index(drop = True)

In [12]:
anual_values.head()

,District,Neighbourhood,Total_price,New_flats,Second_hand_flats
0,1,1. el Raval,180.969,0,180.666
1,1,2. el Barri Gòtic,422.841,409.177,429.953
2,1,3. la Barceloneta,212.16,409.496,186.42
3,1,"4. Sant Pere, Santa Caterina i la Ribera",293.143,473.735,283.979
4,2,5. el Fort Pienc,356.123,611.349,326.772

In [13]:
anual_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
District             73 non-null object
Neighbourhood        74 non-null object
Total_price          74 non-null object
New_flats            74 non-null object
Second_hand_flats    74 non-null object
dtypes: object(5)
memory usage: 3.1+ KB

In [14]:
#>>> df.replace(to_replace=r'^ba.$', value='new', regex=True)

#regex={r'^ba.$': 'new', 'foo': 'xyz'}

#anual_values['Total_price'] = anual_values['Total_price'].replace(regex = r'\.', value = ',')

In [15]:
anual_values.head()

,District,Neighbourhood,Total_price,New_flats,Second_hand_flats
0,1,1. el Raval,180.969,0,180.666
1,1,2. el Barri Gòtic,422.841,409.177,429.953
2,1,3. la Barceloneta,212.16,409.496,186.42
3,1,"4. Sant Pere, Santa Caterina i la Ribera",293.143,473.735,283.979
4,2,5. el Fort Pienc,356.123,611.349,326.772

In [16]:
anual_values['Total_price'] = anual_values['Total_price'].replace('-', value = 0)

In [17]:
anual_values['Total_price'] = anual_values['Total_price'].astype('float64')

In [18]:
anual_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
District             73 non-null object
Neighbourhood        74 non-null object
Total_price          74 non-null float64
New_flats            74 non-null object
Second_hand_flats    74 non-null object
dtypes: float64(1), object(4)
memory usage: 3.1+ KB

In [19]:
anual_values['New_flats'] = anual_values['New_flats'].replace('-', value = 0)
anual_values['Second_hand_flats'] = anual_values['Second_hand_flats'].replace('-', value = 0)

In [20]:
anual_values['New_flats'] = anual_values['New_flats'].astype('float64')
anual_values['Second_hand_flats'] = anual_values['Second_hand_flats'].astype('float64')

In [21]:
anual_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
District             73 non-null object
Neighbourhood        74 non-null object
Total_price          74 non-null float64
New_flats            74 non-null float64
Second_hand_flats    74 non-null float64
dtypes: float64(3), object(2)
memory usage: 3.1+ KB

In [22]:
anual_values

,District,Neighbourhood,Total_price,New_flats,Second_hand_flats
0,1,1. el Raval,180.96936,0.00000,180.66582
1,1,2. el Barri Gòtic,422.84056,409.17686,429.95317
2,1,3. la Barceloneta,212.15957,409.49565,186.42008
3,1,"4. Sant Pere, Santa Caterina i la Ribera",293.14318,473.73529,283.97880
4,2,5. el Fort Pienc,356.12282,611.34948,326.77175
5,2,6. la Sagrada Família,205.94619,0.00000,205.94619
6,2,7. la Dreta de l'Eixample,398.37392,254.97397,412.34145
7,2,8. l'Antiga Esquerra de l'Eixample,374.30792,316.70009,381.85180
8,2,9. la Nova Esquerra de l'Eixample,266.39937,459.66667,259.10626
9,2,10. Sant Antoni,264.22897,0.00000,264.22897
10,3,11. el Poble Sec - AEI Parc Montjuïc,155.18475,0.00000,155.65186
11,3,12. la Marina del Prat Vermell - AEI Zona Franca,79.32857,0.00000,79.32857
12,3,13. la Marina de Port,151.07513,0.00000,151.07513
13,3,14. la Font de la Guatlla,173.78221,0.00000,173.78221
14,3,15. Hostafrancs,199.07276,119.66667,201.71963
15,3,16. la Bordeta,155.88000,213.66667,149.45926
16,3,17. Sants - Badal,181.25512,301.64460,149.57368
17,3,18. Sants,222.82834,227.15000,222.46820
18,4,19. les Corts,271.39541,494.96545,263.25213
19,4,20. la Maternitat i Sant Ramon,329.90056,380.46667,323.49077
20,4,21. Pedralbes,659.70852,0.00000,650.31164
21,5,"22. Vallvidrera, el Tibidabo i les Planes",438.00000,0.00000,438.00000
22,5,23. Sarrià,512.83234,0.00000,512.83234
23,5,24. les Tres Torres,680.35935,520.90108,698.90101
24,5,25. Sant Gervasi - la Bonanova,643.32239,730.19444,623.02077
25,5,26. Sant Gervasi - Galvany,582.03653,638.91811,568.00407
26,5,27. el Putxet i el Farró,398.16100,406.36004,397.42368
27,6,28. Vallcarca i els Penitents,293.08942,319.22175,287.96543
28,6,29. el Coll,169.69012,247.25000,151.44074
29,6,30. la Salut,263.08872,0.00000,263.08872
...,...,...,...,...,...
47,8,48. la Guineueta,143.10000,0.00000,142.77407
48,8,49. Canyelles,136.80485,0.00000,136.80485
49,8,50. les Roquetes,131.66711,0.00000,131.66711
50,8,51. Verdun,99.64946,0.00000,99.64946
51,8,52. la Prosperitat,115.33047,0.00000,115.33047
52,8,53. la Trinitat Nova,67.02018,0.00000,67.02018
53,8,54. Torre Baró,110.00000,0.00000,110.00000
54,8,55. Ciutat Meridiana,61.78085,0.00000,61.78085
55,8,56. Vallbona,123.92500,0.00000,123.92500
56,9,57. la Trinitat Vella,140.95071,0.00000,140.95071
57,9,58. Baró de Viver,271.66666,0.00000,271.66666
58,9,59. el Bon Pastor,120.58595,0.00000,120.58595
59,9,60. Sant Andreu,167.25490,0.00000,167.41382
60,9,61. la Sagrera,201.32262,0.00000,201.32262
61,9,62. el Congrés i els Indians,158.01060,153.60000,158.16269
62,9,63. Navas,262.40526,262.66667,262.36994
63,10,64. el Camp de l'Arpa del Clot,269.38804,278.70010,269.15109
64,10,65. el Clot,272.02279,219.41434,287.05377
65,10,66. el Parc i la Llacuna del Poblenou,250.54964,346.70846,229.36210
66,10,67. la Vila Olímpica del Poblenou,466.20000,0.00000,466.20000
67,10,68. el Poblenou,330.41958,429.13157,265.92027
68,10,69. Diagonal Mar i el Front Marítim del Poblenou,539.25895,0.00000,552.70499
69,10,70. el Besòs i el Maresme,157.80744,234.99690,142.96331
70,10,71. Provençals del Poblenou,246.60502,173.01506,283.40000
71,10,72. Sant Martí de Provençals,276.31748,305.50000,270.77649
72,10,73. la Verneda i la Pau,125.84326,116.61538,126.84295
73,NaN,NC,0.00000,0.00000,0.00000
74,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN

In [23]:
anual_values.drop([73, 74, 75, 76], inplace = True)

In [24]:
anual_values.head()

,District,Neighbourhood,Total_price,New_flats,Second_hand_flats
0,1,1. el Raval,180.96936,0.00000,180.66582
1,1,2. el Barri Gòtic,422.84056,409.17686,429.95317
2,1,3. la Barceloneta,212.15957,409.49565,186.42008
3,1,"4. Sant Pere, Santa Caterina i la Ribera",293.14318,473.73529,283.97880
4,2,5. el Fort Pienc,356.12282,611.34948,326.77175

In [25]:
mean_2016 = anual_values.groupby(['District']).mean()

In [26]:
mean_2016

          Total_price   New_flats  Second_hand_flats
District
1          277.278167  323.101950         270.254467
2          310.896532  273.781702         308.374403
3          164.800860  107.765992         160.382317
4          420.334830  291.810707         412.351513
5          542.451935  382.728945         539.696978
6          282.499544  270.034718         277.329856
7          168.120669   98.926439         150.482519
8          110.451267    0.000000         110.560927
9          188.885243   59.466667         188.924627
10         293.441220  210.408181         289.437497

In [27]:
districts_list = ['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts', 'Sarrià-Sant Gervasi', 
             'Gràcia', 'Horta-Guinardó', 'Nou Barris', 'Sant Andreu', 'Sant Martí']

In [28]:
#1.- Sarrià-Sant Gervasi
#2.- Les Corts
#3.- l'Eixample
#4.- Gràcia
#5.- Sant Martí
#6.- Sant-Montjuïc
#7.- Ciutat Vella
#8.- Horta-Guinardó
#9.- Sant Andreu
#10.- Nou Barris

In [29]:
mean_2016.drop(columns = ['New_flats', 'Second_hand_flats'], inplace = True)

In [30]:
mean_2016

          Total_price
District
1          277.278167
2          310.896532
3          164.800860
4          420.334830
5          542.451935
6          282.499544
7          168.120669
8          110.451267
9          188.885243
10         293.441220

In [31]:
mean_2016.insert(0, 'District', districts_list)

In [32]:
mean_2016

                     District  Total_price
District
1                Ciutat Vella   277.278167
2                    Eixample   310.896532
3              Sants-Montjuïc   164.800860
4                   Les Corts   420.334830
5         Sarrià-Sant Gervasi   542.451935
6                      Gràcia   282.499544
7              Horta-Guinardó   168.120669
8                  Nou Barris   110.451267
9                 Sant Andreu   188.885243
10                 Sant Martí   293.441220

In [33]:
del mean_2016.index.name

In [34]:
mean_2016

               District  Total_price
1          Ciutat Vella   277.278167
2              Eixample   310.896532
3        Sants-Montjuïc   164.800860
4             Les Corts   420.334830
5   Sarrià-Sant Gervasi   542.451935
6                Gràcia   282.499544
7        Horta-Guinardó   168.120669
8            Nou Barris   110.451267
9           Sant Andreu   188.885243
10           Sant Martí   293.441220

In [35]:
mean_2016['Total_price'] = mean_2016['Total_price'] *1000

In [36]:
mean_2016

               District    Total_price
1          Ciutat Vella  277278.167500
2              Eixample  310896.531667
3        Sants-Montjuïc  164800.860000
4             Les Corts  420334.830000
5   Sarrià-Sant Gervasi  542451.935000
6                Gràcia  282499.544000
7        Horta-Guinardó  168120.669091
8            Nou Barris  110451.266923
9           Sant Andreu  188885.242857
10           Sant Martí  293441.220000

In [37]:
pd.options.display.float_format = '{:,.2f}€'.format

In [38]:
mean_2016

               District  Total_price
1          Ciutat Vella  277,278.17€
2              Eixample  310,896.53€
3        Sants-Montjuïc  164,800.86€
4             Les Corts  420,334.83€
5   Sarrià-Sant Gervasi  542,451.94€
6                Gràcia  282,499.54€
7        Horta-Guinardó  168,120.67€
8            Nou Barris  110,451.27€
9           Sant Andreu  188,885.24€
10           Sant Martí  293,441.22€

In [47]:
mean_2016.rename(columns = {'Total_price' : "2016"}, inplace = True)

In [41]:
mean_2017 = pd.read_csv('mean_2017.csv')

In [42]:
mean_2018 = pd.read_csv('mean_2018.csv')

In [61]:
final_mean = pd.merge(mean_2016, mean_2017)

In [62]:
final_mean_2 = pd.merge(final_mean, mean_2018)

In [63]:
final_mean_2

              District        2016  Unnamed: 0        2017  2018 (1,2,3t)
0         Ciutat Vella 277,278.17€           1 306,263.39€    354,175.10€
1             Eixample 310,896.53€           2 364,298.11€    366,987.75€
2       Sants-Montjuïc 164,800.86€           3 237,785.09€    199,744.70€
3            Les Corts 420,334.83€           4 559,055.60€    583,627.94€
4  Sarrià-Sant Gervasi 542,451.94€           5 601,039.97€    620,197.00€
5               Gràcia 282,499.54€           6 329,729.80€    309,447.35€
6       Horta-Guinardó 168,120.67€           7 178,508.56€    207,067.28€
7           Nou Barris 110,451.27€           8 126,845.36€    123,246.72€
8          Sant Andreu 188,885.24€           9 219,305.19€    216,565.15€
9           Sant Martí 293,441.22€          10 313,599.29€    293,472.85€

In [66]:
final_mean_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 5 columns):
District         10 non-null object
2016             10 non-null float64
Unnamed: 0       10 non-null int64
2017             10 non-null float64
2018 (1,2,3t)    10 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 480.0+ bytes

In [67]:
final_mean_2.drop(columns = ['Unnamed: 0'], inplace = True)

In [68]:
final_mean_2

              District        2016        2017  2018 (1,2,3t)
0         Ciutat Vella 277,278.17€ 306,263.39€    354,175.10€
1             Eixample 310,896.53€ 364,298.11€    366,987.75€
2       Sants-Montjuïc 164,800.86€ 237,785.09€    199,744.70€
3            Les Corts 420,334.83€ 559,055.60€    583,627.94€
4  Sarrià-Sant Gervasi 542,451.94€ 601,039.97€    620,197.00€
5               Gràcia 282,499.54€ 329,729.80€    309,447.35€
6       Horta-Guinardó 168,120.67€ 178,508.56€    207,067.28€
7           Nou Barris 110,451.27€ 126,845.36€    123,246.72€
8          Sant Andreu 188,885.24€ 219,305.19€    216,565.15€
9           Sant Martí 293,441.22€ 313,599.29€    293,472.85€

In [82]:
final_mean_2 = final_mean_2.sort_values(by = ['2018 (1,2,3t)'], ascending = False)

In [76]:
final_mean_2.index += 1

In [81]:
final_mean_2.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [88]:
final_mean_2

               District        2016        2017  2018 (1,2,3t)
5   Sarrià-Sant Gervasi 542,451.94€ 601,039.97€    620,197.00€
4             Les Corts 420,334.83€ 559,055.60€    583,627.94€
2              Eixample 310,896.53€ 364,298.11€    366,987.75€
1          Ciutat Vella 277,278.17€ 306,263.39€    354,175.10€
6                Gràcia 282,499.54€ 329,729.80€    309,447.35€
10           Sant Martí 293,441.22€ 313,599.29€    293,472.85€
9           Sant Andreu 188,885.24€ 219,305.19€    216,565.15€
7        Horta-Guinardó 168,120.67€ 178,508.56€    207,067.28€
3        Sants-Montjuïc 164,800.86€ 237,785.09€    199,744.70€
8            Nou Barris 110,451.27€ 126,845.36€    123,246.72€

In [90]:
final_mean_2 = final_mean_2.reset_index(drop = True)

In [91]:
final_mean_2

              District        2016        2017  2018 (1,2,3t)
0  Sarrià-Sant Gervasi 542,451.94€ 601,039.97€    620,197.00€
1            Les Corts 420,334.83€ 559,055.60€    583,627.94€
2             Eixample 310,896.53€ 364,298.11€    366,987.75€
3         Ciutat Vella 277,278.17€ 306,263.39€    354,175.10€
4               Gràcia 282,499.54€ 329,729.80€    309,447.35€
5           Sant Martí 293,441.22€ 313,599.29€    293,472.85€
6          Sant Andreu 188,885.24€ 219,305.19€    216,565.15€
7       Horta-Guinardó 168,120.67€ 178,508.56€    207,067.28€
8       Sants-Montjuïc 164,800.86€ 237,785.09€    199,744.70€
9           Nou Barris 110,451.27€ 126,845.36€    123,246.72€

              District        2016        2017  2018 (1,2,3t)
0         Ciutat Vella 277,278.17€ 306,263.39€    354,175.10€
1             Eixample 310,896.53€ 364,298.11€    366,987.75€
2       Sants-Montjuïc 164,800.86€ 237,785.09€    199,744.70€
3            Les Corts 420,334.83€ 559,055.60€    583,627.94€
4  Sarrià-Sant Gervasi 542,451.94€ 601,039.97€    620,197.00€
5               Gràcia 282,499.54€ 329,729.80€    309,447.35€
6       Horta-Guinardó 168,120.67€ 178,508.56€    207,067.28€
7           Nou Barris 110,451.27€ 126,845.36€    123,246.72€
8          Sant Andreu 188,885.24€ 219,305.19€    216,565.15€
9           Sant Martí 293,441.22€ 313,599.29€    293,472.85€